body{
    font-family:sans-serif;
    padding: 30px;
    background:#ccffff;
}

.wrapper{
    max-width: 690px;
    margin: 0 auto;
}

.blue {
    color:#3f7abe;
}

h1{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #08a3d9;
    text-transform: uppercase;
    font-size: 30px;
    color: #000380;
}

#balloon-gallery div{
    background: #ff3300;
    height: 121px;
    width: 119px;
    text-align: center;
    color: #ff3300;
    font-size: 40px;
    font-family: sans-serif, arial;
    border-radius: 100%;
    margin-top: 20px;
    display: inline-block;
    margin: 2.5px 5 px 2.5px 0px;
}

#balloon-gallery div:nth-child(3n){
    background: #000066;
    color: #000066;
}

#balloon-gallery div:nth-child(3n-1){
    background:orange;
    color:orange;
}

#balloon-gallery div:nth-child(5n){
    background:lightgreen;
    color:lightgreen;
}

#balloon-gallery div:nth-child(13){
    background:yellow;
    color:yellow;
}

#balloon-gallery div:nth-child(10n){
    background:violet;
    color: violet;
}

#balloon-gallery div:nth-child(4n){
    clear:right;
}

#yay-no-balloons {
    display:none;
    color:blue;
    font-size:100px;
}
